<label>Image location</label>
<select name="url" aria-required="true" required="required" pattern=".+">
    <option></option>
    <option id="imgUploader-{{ toastui_id }}" value="[file]">Upload an image …</option>
    {{ admin.page.media|map(m => "<option value=\"#{admin.page.route}/#{m.filename}\">#{m.filename}</option>")|join('\n')|raw }}
</select>
<input id="newImage" name="newImage" type="file" accept="image/*" />{# FIXME - filter for supported types only #}

{{ include('partials/custom/toastui.custom.add-image.form.properties.html.twig') }} {# a simple lazy way of customisation, probably gonna be refactored for the better #}

<div class="toastui-editor-button-container">
    <button name="cancelButton" type="button" class="toastui-editor-close-button">Cancel</button>
    <input name="submitButton" type="submit" class="toastui-editor-ok-button" value="Insert" />
</div>
